<body id="bigContainer" class="row">
    <div class="row body">
    <div class="sequencer col-sm-12 col-md-6">
        <h3>Drum Sequencer</h3>
        <div class="hide">
            <div id="song-title-data" data-title="{{projectData.song_title}}"></div>
            <div id="song-desc-data" data-desc="{{projectData.song_description}}"></div>
            <div id="song-username-data" data-username="{{projectData.username}}"></div>
            <div id="song-userid-data" data-userid="{{projectData.user_id}}"></div> 
        </div>

        {{!-- if there are steps loaded in, create blank div and use js function to populate a grid --}}
        {{#if projectData.drum_sequencer_steps}}
        <div class="seq-grid" id="pushDrums"></div>  

        {{!-- if there arent steps loaded in, have grid pre-loaded --}}
        {{else}}
        <div class="seq-grid" id="pushDrums">
            <div id="kickRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>Kick</span>
            </div>
            <div id="snareRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>Snare</span>
            </div>
            <div id="hatRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>Hat</span>
            </div>
            <div id="tom1Row" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>Tom 1</span>
            </div>
            <div id="tom2Row" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>Tom 2</span>
            </div>
            <div id="tom3Row" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>Tom 3</span>
            </div>
        </div>
        {{/if}}

        <button id="play" data-id="{{projectData.song_id}}" class="btn">play/pause</button>
        <button id="save" class="btn">save</button>
        <button id="goBack" class="btn">Go back</button>


        <h3 class="">Melody Sequencer</h3>
        {{#if projectData.melody_sequencer_steps}}
        <div class="seq-grid biiiig" id="pushMelody"></div>

        {{else}}        
        <div class="seq-grid" id="pushMelody">
            <div id="CRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>C</span>
            </div>
            <div id="DRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>D</span>
            </div>
            <div id="D#Row" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>D#</span>
            </div>
            <div id="FRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>F</span>
            </div>
            <div id="GRow" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>G</span>
            </div>
            <div id="A#Row" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>A#</span>
            </div>
            <div id="B#Row" class="seq-row">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <span>B#</span>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="info-control col-sm-12 col-md-6">

        <div id="big-effects">
            <h3>Modify inputs</h3>

            <div class="drop-down-menu">
                <input class="insert" type="text" maxlength="3" title="Enter any number" placeholder="133" id="bpm"
                    onchange="setBpm(this.value)">
                <label for="bpm">Bpm</label>
            </div>
            <div class="drop-down-menu">
                <select id="drumVol" onchange="setDrumVol(this.value)">
                    <option value="-24">Softer</option>
                    <option value="-12">Soft</option>
                    <option value="-3" selected>Default</option>
                    <option value="0">Loud</option>
                    <option value="6">Overdrive</option>
                </select>
                <label for="drumVol">Drum volume</label>
            </div>
            <div class="drop-down-menu">
                <select id="melVol" onchange="setMelVol(this.value)">
                    <option value="-24">Softer</option>
                    <option value="-12">Soft</option>
                    <option value="-3" selected>Default</option>
                    <option value="0">Loud</option>
                    <option value="6">Overdrive</option>
                </select>
                <label for="melVol">Melody volume</label>
            </div>
            <div class="drop-down-menu">
                <select name="kits" id="kits" onchange="drumGen(this.value)">
                    <option value="technoDrums" selected>techno kit</option>
                    <option value="opfmDrums">4OP-FM kit</option>
                    <option value="acousticDrums">acoustic kit</option>
                    <option value="breakbeat8Drums">break beat 8</option>
                    <option value="breakbeat9Drums">break beat 9</option>
                    <option value="breakbeat13Drums">break beat 13</option>
                </select>
                <label for="kits">Drumkit</label>
            </div>



            <div id="effectsCont" class="small-effects">
                <h4>Drum Inputs:</h4>
                <div class="input-option drum-op">
                    <label for="reverb">Reverb↴</label>
                    <label for="distortion">Distortion↴</label>
                    <label for="pingDelay">Delay↴</label>

                    <input type="text" maxlength="4" step="0.01" title="Set value between '0' and '1'. '0' = 'off'."
                        placeholder="" id="reverb" onchange="setReverb(this.value)">
                    <input type="text" maxlength="4" step="0.01" title="Set value between '0' and '1'. '0' = 'off'."
                        placeholder="ex. '0.2'" id="distortion" onchange="setDistortion(this.value)">
                    <input type="text" maxlength="4" step="0.01" title="Set value between '0' and '1'. '0' = 'off'."
                        placeholder="ex. '0.2'" id="pingDelay" onchange="setDelay(this.value)">
                </div>
                <h4>Melody Inputs:</h4>
                <div class="input-option mel-op">
                    <label for="melReverb">Reverb↴</label>
                    <label for="melEffect">Phaser↴</label>
                    <input type="text" maxlength="4" step="0.01" title="Set value between '0' and '1'. '0' = 'off'."
                        placeholder="" id="melReverb" onchange="setMelReverb(this.value)">
                    <input type="text" maxlength="4" step="0.01" title="Set value between '0' and '1'. '0' = 'off'."
                        placeholder="" id="melEffect" onchange="setMelEffect(this.value)">
                </div>
            </div>
            <div class="">
                <h2 id="log">Current values:</h2>
                <div>
                    <div class="log-vals show">
                        <div class="val">
                            <span>Song title:</span>
                            <span id="stLog">{{projectData.song_title}}</span>
                        </div>
                        <div class="val">
                            <span>Song artist:</span>
                            <span id="saLog">{{projectData.username}}</span>
                        </div>
                        <div class="val">
                            <span>Song description:</span>
                            <span id="sdLog">{{projectData.song_description}}</span>
                        </div>
                        <div class="val">
                            <span>Drum kit:</span>
                            <span id="dkvLog">{{projectData.drum_kit}}</span>
                        </div>
                        <div class="val">
                            <span>Drum volume:</span>
                            <span id="drumVolLog">-3dB</span>
                        </div>
                        <div class="val">
                            <span>Drum reverb value:</span>
                            <span id="rvLog">{{projectData.reverb_val}}</span>
                        </div>
                        <div class="val">
                            <span>Drum distortion value:</span>
                            <span id="dvLog">{{projectData.distortion_val}}</span>
                        </div>
                        <div class="val">
                            <span>Drum delay value:</span>
                            <span id="ppdvLog">{{projectData.delay_val}}</span>
                        </div>
                        <div class="val">
                            <span>Melody Volume:</span>
                            <span id="melVolLog">-3dB</span>
                        </div>
                        <div class="val">
                            <span>Melody reverb value:</span>
                            <span id="mrvLog">{{projectData.melody_reverb_val}}</span>
                        </div>
                        <div class="val">
                            <span>Melody Phaser value:</span>
                            <span id="mevLog">{{projectData.melody_effect_val}}</span>
                        </div>
                        <div class="val">
                            <span>Bpm:</span>
                            <span id="bpmLog">{{projectData.bpm_val}}</span>
                        </div>

                    </div>
                    <div class="hide">

                        <span id="drumSeqLog">{{projectData.drum_sequencer_steps}}</span>
                        <span id="melodyIsOn">{{projectData.melody_is_on}}</span>
                        <span id="melodySeqLog">{{projectData.melody_sequencer_steps}}</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.9/Tone.js"
integrity="sha512-nUjml8mN4CNYqBAy0ndDrd8pJV/eTtBNDsnvNtPqozx9/BccUeWSoKW14qWkQUnhuh8E3m+yra3qdzM68lqPEQ=="
crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
<script src="/js/load-project.js"></script>
<script src="/js/nav-to-dashboard.js"></script>
<script src="/js/modify-project.js"></script>